:root {
    --primary: #ffe5f1;
    --secondary: #3c486b;
    --btn: #edebec;
    --btn-active: #ffaad5;
}

.bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
